@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scroll-hide::-webkit-scrollbar{
  display: none;
}

.profile-img{
  background-image: url(./Images/avatar.jpg);
}

@keyframes scroll-animation {
  from {
    scroll-behavior: auto;
    scroll-left: 0;
  }
  to {
    scroll-behavior: smooth;
    scroll-left: 720px;
  }
}

.scroll-container.scroll-animation {
  animation: scroll-animation 4s forwards;
}